* {
  box-sizing: border-box; }

body {
  margin: 0px; }

.header {
  display: flex; }
  @media (max-width: 767px) {
    .header {
      flex-direction: column; } }
  .header__left-block {
    flex-basis: 150px;
    flex-shrink: 0;
    height: 200px;
    background: darkred; }
  .header__main {
    flex-basis: 100%;
    height: 200px;
    background: yellow; }
  .header__right-block {
    flex-shrink: 0;
    flex-basis: 150px;
    height: 200px;
    background: green; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .header__right-block {
        display: none; } }

.main {
  display: flex; }
  @media (max-width: 767px) {
    .main {
      flex-direction: column; } }
  .main__left-block {
    width: 50%; }
    @media (max-width: 767px) {
      .main__left-block {
        width: 100%; } }
  .main__right-block {
    width: 50%;
    background: #000;
    height: 500px; }
    @media (max-width: 767px) {
      .main__right-block {
        width: 100%; } }

.box__header {
  display: flex; }
  @media (max-width: 767px) {
    .box__header {
      flex-direction: column; } }

.box__header-left {
  width: 60%;
  background: bisque;
  height: 100px; }
  @media (max-width: 767px) {
    .box__header-left {
      width: 100%; } }

.box__header-right {
  width: 40%;
  background: cadetblue;
  height: 100px;
  font-size: 0px; }
  @media (max-width: 767px) {
    .box__header-right {
      width: 100%; } }

.box__content {
  height: 400px;
  background: darkgrey; }
