.box {
  &__header {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__header-left {
    width: 60%;
    background: bisque;
    height: 100px;

    @include mobile {
      width: 100%;
    }
  }
  &__header-right {
    width: 40%;
    background: cadetblue;
    height: 100px;

    @include mobile {
      width: 100%;
    }
  }

  &__content {
    height: 400px;
    background: darkgrey;
  }
}