.header {
  display: flex;
  height: 150px;

  @include mobile {
    flex-direction: column;
    height: initial;
  }

  &__left-block {
    flex-basis: 150px;
    flex-shrink: 0;
    background: darkred;
  }

  &__main {
    flex-basis: 100%;
    background: yellow;

    @include mobile {
      flex-basis: 150px;
    }
  }

  &__right-block{
    flex-shrink: 0;
    flex-basis: 150px;
    background: green;

    @include tablet {
      display: none;
    }
  }
}