.main {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  &__left-block {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }
  &__right-block {
    width: 50%;
    background: #000;
    height: 500px;

    @include mobile {
      width: 100%;
    }
  }
}